h1 {
	background-color: rgba(255,0,0,0.2);
	color: white;
	text-align: center;
}

button {
	background-origin: white 
	background-color: rgba(255,0,0,0.2);
	color: white;
	text-align: center;	
}

.class {
	background-color: rgba(255,0,0,0.2);
}
